@charset "UTF-8";
/* CSS Document */
.main {
  background-color: #f6f8f9;
}
.section-top__image {
  height: 200px;
  background-image: url("../images/common/mountain04.jpg");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.section-top__image-filter {
  height: 100%;
  width: 100%;  
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 80px;
}
.section-top h2 {
  color: #fff;
  font-size: 2rem;
}
.inquiry-form {
  padding: 50px 24px 60px;
  text-align: left;
}
.inquiry-form p {
  margin-bottom: 40px;
}
/* inputタグのtype属性がtextのものだけスタイルをあてる */
.inquiry-form input[type="text"], .inquiry-form input[type="email"], .inquiry-form select, .inquiry-form textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: solid 1px #777;
}
.inquiry-form textarea {
  height: 300px;
}
.inquiry-form p label {
  font-weight: 600;
  font-size: 2rem;
  display: block;
  margin-bottom: 20px;
}

.inquiry-form p label.small-label {
  display: inline-block;
  font-weight: 500;
  font-size: 1.6rem;
  padding-left: 30px;
}

.inquiry_form__submit {
  background-color: #004bb1;
  display: block;
  height: 48px;
  width: 320px;
  color: #fff;
  font-size: 2.4rem;
  border-radius: 48px;
}